player-connection-mode=Listen
player-connection-guid=2429398440
player-connection-debug=0
player-connection-project-name=Craft Adveture
player-connection-ip=169.254.89.27
player-connection-ip=169.254.144.48
player-connection-ip=192.168.100.55
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=788620c0329a4e07926b59678edb1c82
